
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #3498db;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #57aae1;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 100px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#header .logo {
  width: 15rem;
  margin: 0;
  padding: 0;
}

#header .logo img {
  max-height: 100px;
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0 10px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #4f5a62;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 15px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #3498db;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #384046;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(33, 38, 42, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #384046;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #3498db;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100vw;
  height: 100vh;
  background: url("img/main-2293x1200.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 70px;
  padding: 0;
}
#hero:before {
  content: "";
  background: rgba(56, 64, 70, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .container {
  z-index: 2;
}
#hero h3 {
  margin: 0 0 10px 0;
  font-size: 2rem;
  line-height: 56px;
  color: rgba(255, 255, 255, 0.8);
}
#hero h3 span {
  border-bottom: 4px solid #3498db;
}
#hero h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 2.5rem;
  font-weight: bold;
}

@media (max-width: 992px) {
  #hero {
    height: calc(100vh - 70px);
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 30px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services{
  margin: 4rem 0;
  
}
.section-title{
  text-align: center;
  letter-spacing: 1px;
}
.section-title h2{
  font-weight: bold;
  font-size: 3rem;
  color: #000080;
  margin-bottom: 3rem;
}
.services{
  margin: 4rem 0;
}
.section-title{
  text-align: left;
  padding-top: 2rem;
}
.section-title h2{
  font-weight: bold;
  font-size: 3rem;
  color: #000080;
  margin-bottom: 3rem;
}

.services .icon-box {
  margin-top: 3rem;
  margin-bottom: 20px;
  padding-left: 5rem;
  text-align: center;
}
.services .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 50%;
  transition: 0.5s;
  color: blue;
  overflow: hidden;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
}
.services .icon i {
  font-size: 36px;
  line-height: 0;
}
.services:hover .icon {
  box-shadow: 0px 0 25px rgba(92, 159, 36, 0.3);
}
.services .title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
  padding-bottom: 15px;
  cursor: pointer;
}
.services .title a {
  color: #444444;
  transition: 0.3s;
  text-decoration: none;
}


.services .description {
  line-height: 24px;
  font-size: 14px;
}
@media (max-width: 768px){
  .section-title{
    padding:2rem 3rem
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about{
  height: 100vh;
  width: 100vw;
  background: url("img/images.jpg")  center center no-repeat;
  background-size: cover;
}

#about .container{
  width: 100vw;
  height: 100vw;
  padding: 4rem;
  text-align: center;
  background-color: rgba(0,0,0,0.7);
  letter-spacing: 2px;
}
.about{
  /* background-color: rgb(60, 163, 231); */
  color: rgb(242, 245, 247);
}
.about h3 {
  font-weight: 700;
  font-size: 36px;
}
.about h4 {
  line-height: 40px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 5px;
}
.about i {
  font-size: 48px;
  margin-top: 15px;
  color: #8b97b3;
}
.about p {
  font-size: 15px;
}
@media (max-width: 1000px){
  #about{
    height: 140vh;
  }
}
@media (max-width: 770px){
  #about{
    height: 160vh;
  }
  #about .container{
    height: 160vh;
  }
}
@media (max-width: 530px){
  #about{
    height: 180vh;
  }
  #about .container{
    height: 180vh;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/


.section {
  padding: 5rem 0;
}
.section h2 {
  font-size: 2rem;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000080;
  font-family: "Poppins", sans-serif;
}
.section h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #fd9042;
  margin: 4px 10px;
}
.section p {
  margin: 0;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #2a2c39;
}




/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact{
  background-color: #05036A;
  color: white;
}
.section-headline{
  padding-bottom: 4rem;
}
.contact-area {
  padding-top: 5rem;
  padding-bottom: 5rem;
  height: auto;
  width: 100%;
}

.contact-content {
  padding: 100px;
  background: #000 none repeat scroll 0 0;
}

.contact-content-right {
  padding: 100px;
}

.single-icon i {
  font-size: 32px;
  width: 50px;
  height: 50px;
  line-height: 56px;
  border-radius: 50%;
  margin-bottom: 30px;
  color: #3ec1d5;
}

.single-icon p {
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
}
.single-icon p a{
  text-decoration: none;
  color: #fff;
}

.contact-icon {
  margin-bottom: 40px;
}

#google-map {
  height: 370px;
  margin-bottom: 20px;
}

.php-email-form .validate {
  display: none;
  color: red;
  margin: 0;
  font-weight: 400;
  font-size: 13px;
}
.php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.php-email-form input, .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
.php-email-form input:focus, .php-email-form textarea:focus {
  border-color: #3ec1d5;
}
.php-email-form input {
  padding: 10px 15px;
}
.php-email-form textarea {
  padding: 12px 15px;
}
.php-email-form button[type=submit] {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #ccc;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-top: 8px;
  padding: 12px 30px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  border-radius: 30px;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*footer start*/
#footer{
  width: 100vw;
  height: 20vh;
  text-align: center;
  color: #05036A;
}
.social-icon{
  margin: 20px 10px;
  cursor: pointer;
}
/*footer end*/ 
.btn{
  font-weight: bold;
  background: linear-gradient(90deg,#9d8af3,#7bbde4);
  text-transform: capitalize;
  font-size: 1rem;
  color: white;
}



